# Basic Pandas Homework

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## DatFrame and Series

Create a `DataFrame` named `df1` with the following properties:

* 10 rows.
* An `age` column with random ages between 0 and 100 (inclusive).
* A `cell_phone` column of randomly sampled categorical values `ios`, `android`, `windows`.
* A `gender` column of randomly sampled categorical values `f` and `m`.
* The order of columns should be `gender`, `age`, `cell_phone`.
* A row index consisting of lowercase alphabetical letters.

Use the function defined above to create this `DataFrame`.

In [29]:
d = {'gender': pd.Series(np.random.choice(['f','m'], 10), index=['a','b','c','d','f','g','h','i','j','k'],dtype='category'),
     'age':pd.Series(np.random.randint(0,101,10), index=['a','b','c','d','f','g','h','i','j','k']),
     'cell_phone' : pd.Series(np.random.choice(['android','ios','windows'],10), index=['a','b','c','d','f','g','h','i','j','k'],dtype='category')}

In [30]:
df1 = pd.DataFrame(d,index=['a','b','c','d','f','g','h','i','j','k'],columns=['gender','age','cell_phone'])

In [31]:
df1

  gender  age cell_phone
a      f   59    android
b      m   80        ios
c      f   23        ios
d      f   51        ios
f      f   77        ios
g      f   86    windows
h      m    0    windows
i      f    7    android
j      f   24    android
k      f   86    android

Make sure your code passes the following `assert` statements:

In [32]:
assert 'a' in df1.index
assert 'j' in df1.index
assert 'age' in df1.columns
assert 'cell_phone' in df1.columns
assert 'gender' in df1.columns
assert df1.age.dtype.name=='int64'
assert df1.cell_phone.dtype.name=='category'
assert df1.gender.dtype.name=='category'
assert list(df1.columns)==['gender','age','cell_phone']

Create a new `DataFrame`, named `df2` with the following transformations:

* Extract rows `a` through `g`
* Extract the `age` and `gender` column, but put `age` first.
* Reverse the rows to they run `g` to `a`.
* Add a new column named `income` that is a random list of dollars between [0,10000]
* Add a new column named `expenses` that is a random list of dollars between [0,10000]
* Create a new column named `profit` that is computed using the `income` and `expenses` columns.

In [44]:
df2 = pd.DataFrame(d, index=['a','b','c','d','f','g'], columns=['age','gender'])

In [45]:
df2 = df2.iloc[::-1]

In [51]:
df2['income'] = pd.Series(np.random.randint(0,10000,6), index=['a','b','c','d','f','g'])

In [52]:
df2['expenses'] = pd.Series(np.random.randint(0,10000,6), index=['a','b','c','d','f','g'])

In [53]:
df2['profit'] = df2['income'] - df2['expenses']

In [54]:
df2

   age gender  income  expenses  profit
g   86      f     400      6900   -6500
f   77      f    1806      4718   -2912
d   51      f    1875      3751   -1876
c   23      f    5040      3501    1539
b   80      m    7507      3712    3795
a   59      f    1180       422     758

Make sure your code passes the following `assert` statements:

In [55]:
assert df2.index[0]=='g'
assert df2.index[-1]=='a'
assert list(df2.columns)==['age','gender','income','expenses','profit']
assert df2.income.dtype.name=='int64'
assert df2.expenses.dtype.name=='int64'
assert df2.expenses.dtype.name=='int64'
assert all(df2.profit+df2.expenses-df2.income==0)

Write a function named `mean_and_std` that takes a `Series` object and returns a new `Series` that contains the mean and standard deviation of the original series.

In [164]:
def mean_and_std(s):
    """Compute the mean and std of series s.
    Parameters
    ----------
    s : Series
    
    Returns
    -------
    Series containing the mean and std of s with an index of `mean` and `std`.
    """
    mean = s.mean()
    std = s.std()
    return pd.Series([mean,std], index=['mean','std'])

Make sure your code passes the following `assert` statements:

In [165]:
assert list(mean_and_std(df2.age).index)==['mean','std']
assert mean_and_std(df2.age)['mean']==df2.age.describe()['mean']
assert mean_and_std(df2.age)['std']==df2.age.describe()['std']

Use the `.apply()` method with `mean_and_std` to compute the mean and standard deviation of only the columns `income`, `expenses` and profit. Save the result in a variable named `stats`.

In [183]:
stats = df2[['income','expenses','profit']].apply(mean_and_std)

In [184]:
stats

           income     expenses       profit
mean  2968.000000  3834.000000  -866.000000
std   2728.815347  2095.529432  3663.181513

Make sure your code passes the following `assert` statements:

In [185]:
d = df2[['income','expenses','profit']].describe()
assert 'income' in stats.columns
assert 'expenses' in stats.columns
assert 'profit' in stats.columns
assert stats.ix['mean','income']==d.ix['mean','income']
assert stats.ix['mean','expenses']==d.ix['mean','expenses']
assert stats.ix['mean','profit']==d.ix['mean','profit']
assert stats.ix['std','income']==d.ix['std','income']
assert stats.ix['std','expenses']==d.ix['std','expenses']
assert stats.ix['std','profit']==d.ix['std','profit']