# Classification With the Titanic Dataset

In this notebook you will practice a supervised learning problem with the titanic dataset. You will try to predict whether or not a particular passenger lived or died based on other data about that passenger such as age, sex, fare, etc. If you want to continue to explore this dataset, see the Titanic competition on Kaggle:

https://www.kaggle.com/c/titanic

## Imports

In [14]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

## Load and prepare the data

In [15]:
raw_data = sns.load_dataset('titanic')

In [16]:
raw_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

Prepare your data for machine learning:

* Drop rows with missing values or NaNs.
* Create a `DataFrame` for your features named `X` with a subset of numerical and
  boolean columns that you think will be useful in predicting who lived.
* Create a `Series` for your target variable named `y` from the `survived` column.

In [17]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 87.1+ KB

In [18]:
raw_data.groupby('sex')['age'].mean()

sex
female    27.915709
male      30.726645
Name: age, dtype: float64

In [19]:
raw_data.groupby(['sex', 'alone'])['age'].mean()

sex     alone
female  False    26.527950
        True     30.150000
male    False    26.289732
        True     32.901316
Name: age, dtype: float64

In [20]:
raw_data.groupby(['sex', 'alone'])['age'].mean()

sex     alone
female  False    26.527950
        True     30.150000
male    False    26.289732
        True     32.901316
Name: age, dtype: float64

In [21]:
raw_data.groupby(['fare','pclass'])['embark_town'].count()

fare      pclass
0.0000    1          5
          2          6
          3          4
4.0125    3          1
5.0000    1          1
6.2375    3          1
6.4375    3          1
6.4500    3          1
6.4958    3          2
6.7500    3          2
6.8583    3          1
6.9500    3          1
6.9750    3          2
7.0458    3          1
7.0500    3          7
7.0542    3          2
7.1250    3          4
7.1417    3          1
7.2250    3         12
7.2292    3         15
7.2500    3         13
7.3125    3          1
7.4958    3          3
7.5208    3          1
7.5500    3          4
7.6292    3          1
7.6500    3          4
7.7250    3          1
7.7292    3          1
7.7333    3          4
                    ..
80.0000   1          0
81.8583   1          1
82.1708   1          2
83.1583   1          3
83.4750   1          2
86.5000   1          3
89.1042   1          2
90.0000   1          4
91.0792   1          2
93.5000   1          2
106.4250  1          2
108.9000  1          2
110.8833  1          4
113.2750  1          3
120.0000  1          4
133.6500  1          2
134.5000  1          2
135.6333  1          3
146.5208  1          2
151.5500  1          4
153.4625  1          3
164.8667  1          2
211.3375  1          3
211.5000  1          1
221.7792  1          1
227.5250  1          4
247.5208  1          2
262.3750  1          2
263.0000  1          4
512.3292  1          3
Name: embark_town, dtype: int64

Add additional columns to your feature `DataFrame` for any categorical columns you think will be relevant. For each such column:

* Use `pandas.get_dummies` to one-hot encode the categorical values.
* Use `pandas.concat` with `axis=1` to add those columns to the feature `DataFrame`

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
X.head()

## Train/test split

Use `sklearn.cross_validation.train_test_split` to split your data into a training and test set. Save the resulting data in the variables:

* `Xtrain`
* `Xtest`
* `ytrain`
* `ytest`

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Here are the shapes of the resulting arrays

In [ ]:
Xtrain.shape, ytrain.shape

In [ ]:
Xtest.shape, ytest.shape

## Gaussian Naive-Bayes classifier

Perform the following steps with the `sklearn.naive_bayes.GaussianNB` classifier:

1. Instantiate the model class
2. Fit the model with the training data
3. Use the model to make predictions about the test data

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Compute the accuracy of the model:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Use `sklearn.metrics.confusion_matrix` and Seaborn's `heatmap` to display the confusion matrix for this model:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

## Random forest classifier

Perform the following steps with the `sklearn.ensemble.RandomForestClassifier` classifier:

1. Instantiate the model class
2. Fit the model with the training data
3. Use the model to make predictions about the test data

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Compute the accuracy of the model:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Use `sklearn.metrics.confusion_matrix` and Seaborn's `heatmap` to display the confusion matrix for this model:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Use the `feature_importances_` attribute of the model to create a `DataFrame` that has two columns:

1. `feature`: the names of the features
2. `importance`: the importances of that feature

Sort by the feature importances.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

For extra credit, look through the feature importances and build a new set of features that only includes the most important ones. Build a random-forest model with those restricted features and compare its accuracy with that of the full set of features.